{% extends "base.html.twig" %}

{# la fonction parent() permet de récupérer la valeur qui se trouve dans le bloc de la classe mère #}
{% block title %}Accueil | {{ parent() }} {% endblock %}

{% block body %}
    <div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<h1 class="center">Dernières annonces publiés</h1>
			</div>
		</div>

	    <div class="row">
		    <a href="{{ path('propertie_add') }}">Ajouter un bien</a><br>
		</div>

		{% for propertie in properties %}
            <div class="row">
			    <article class="col s10 m5 l6">
			        <h4>{{ propertie.title }}</h4>
				    <img width="100%" src="{{ asset('uploads/' ~ propertie.image) }}"/>
				    <p>{{ propertie.price }}</p>
				    <p>{{ propertie.description }}</p>
			    </article>
			</div>	
		{% endfor %}
	</div>

{% endblock %}