{% extends "base.html.twig" %}

{# la fonction parent() permet de récupérer la valeur qui se trouve dans le bloc de la classe mère #}
{% block title %}Accueil | {{ parent() }} {% endblock %}

{% block body %}
    <div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<h1 class="center">Dernières annonces publiés</h1>
			</div>
		</div>
		
	    <div class="row">
		    {% if app.user is not null %}
			    <a href="{{ path('propertie_add') }}">Ajouter un bien</a><br>
			{% else %}
			    <a href="/login">Ajouter un bien</a><br>	
			{% endif %}
		</div>

        <div class="row">
		    {% for propertie in properties %}
                <div class="col s10 m6 l4">
			        <div class="card hoverable blue-grey darken-1">
					    <div class="card-content white-text">
						    <span class="card-title">{{ propertie.title }}</span>
							<p>{{ propertie.updatedAt|date('d/m/Y') }}</p>
							<div class="card-image">
				                <img class="responsive-img home" width="100%" src="{{ asset('uploads/' ~ propertie.image) }}" alt="{{ propertie.title }}"/>
							</div>
				            <p>Prix :{{ propertie.price }}€</p>
						</div>
						<div class="card-action">
						    <a href="{{ path('propertie_show', {'id' : propertie.id}) }}">Plus de détails
						</div>
					</div>
			    </div>
			{% else %}
			    <P>Désolé, rien de disponible !</p>	
		    {% endfor %}
		</div>	
	</div>

{% endblock %}