{% extends "base.html.twig" %}

{# la fonction parent() permet de récupérer la valeur qui se trouve dans le bloc de la classe mère #}
{% block title %}Accueil | {{ parent() }} {% endblock %}

{% block body %}
    <div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<h1 class="center">Hello, c'est la page d'accueil</h1>
			</div>
		</div>

		{% for propertie in properties %}
            <article>
			    <h2>{{ propertie.title }}</h2>
				<img/>
				<p>{{ propertie.description }}</p>
			</article>
		{% endfor %}
	</div>
	<a href="{{ path('propertie_add') }}">Ajouter un bien</a><br>
	<a href="{{ path('propertie_edit') }}">Modifier le bien</a>

{% endblock %}