{% extends "base.html.twig" %}

{% block title %}{{ propertie.title }}{% endblock %}

{% block body %}
	<div class="container">
	    <div class="row">
	        <div class="col s12">
			    {% for message in app.flashes('message') %}
                    <div class="flash-message">
                        <P>{{ message }}</p>
                    </div>
                {% endfor %}
			</div>
		</div>

		<div class="row">
			<div class="col s12 m12 l8 offset-l2">
			    <div class="card">
				    <h2 class="card-title #00bcd4 cyan-text bold">{{ propertie.title }}</h2>
					<p>Publié le {{ propertie.updatedAt|date('d/m/Y') }}</p>
					<div class="card-image">
				        <img src="{{ asset('uploads/' ~ propertie.image) }}" alt="{{ propertie.title }}" class="responsive-img" />
					</div>
					<div class="card-content">
					    <p class="bold">Prix :
						    <span>{{ propertie.price }}€</span>
					    </p><br>
						<p class="bold">Description :</p><br>
						<p>{{ propertie.description }}</p><br>
						<p class="bold">Propriétaire :
						    <span>{{ propertie.users.lastName }}</sapn>
						</p>
					</div>

					{% if is_granted('ROLE_USER') %}
					{% if propertie in app.user.properties %}	{# {% if propertie in app.user.properties ne fonctionne plus %} #}
					<div class="card-action propertie-card-action">
						    <a class="btn" href="{{ path('propertie_edit', {'id' : propertie.id}) }}">Modifier</a>
	                        <a class="btn" href="{{ path('propertie_delete', {'id' : propertie.id}) }}">Supprimer</a>
					</div>
					{% endif %}
					{% endif %}
				</div>
			</div>
		</div>	

		<div class="row">
		    <div class="col s12 m12 l8 offset-l2">
			    <div class="card mx-5">
				    <div class="card-header">
					    <h5 class="card-title #00bcd4 cyan-text bold">Contact</h5>
				    </div>
					<div class="card-content">
			            {% if app.user %}
			                <p>Numéro de téléphone : 
					            <span class="bold">{{ propertie.users.phoneNumber }}</span>
					        </p>
				        {% else %}
						    <p class="center">
					            <a href="/login"> Veuillez vous connecter pour voir le contact de cette annonce</a>
							</p>
				        {% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}