{% extends 'base.html.twig' %}

{% block title %}Page admin{% endblock %}

{% block body %}
<div class="container">
    <h1>Admin</h1>

    <div class="row">
        <div class="col s12">
            <h5>Annonces
                <span>({{ properties|length }})</sapn>
            </h5>
            <table class="centered striped">
                <tr>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Prix</th>
                    <th>Propriétaire</th>
                    <th>Contact</th>
                    <th>Date de publication</th>
                    <th>Date de modification</th>
                    <th>Actions</th>
                </tr>
                {% set i = 1 %}
                {% for propertie in properties %}
                    <tr class="hoverable">
                        <td>{{ i }}</td>
                        <td><a href="{{ path('propertie_show', {'id': propertie.id}) }}" target="_blank">{{ propertie.title }}</a></td>
                        <td>{{ propertie.price }}</td>
                        <td>{{ propertie.users.lastName }}</td>
                        <td>{{ propertie.users.phoneNumber }}</td>
                        <td>{{ propertie.createdAt ? propertie.createdAt|date('d/m/Y') : '-' }}</td>
                        <td>{{ propertie.updatedAt|date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ path('propertie_edit', {'id': propertie.id}) }}"><i class="material-icons blue-text">edit</i></a>
                            <a href=""><i class="material-icons red-text">delete</i></a>
                        </td>
                    </tr>
                {% set i = i+1 %}
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h5>Utilisateurs
                <span>({{ users|length }})</sapn>
            </h5>
            <table class="centered striped">
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Roles</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Inscrit depuis</th>
                    <th>Actions</th>
                </tr>
                {% set i = 1 %}
                {% for user in users %}
                    <tr class="hoverable">
                        <td>{{ i }}</td>
                        <td><a href="{{ path('account', {'id': user.id}) }}" target="_blank">{{ user.lastname }}</a></td>
                        <td>{{ user.firstname }}</td>
                        {% if 'ROLE_ADMIN' in user.roles %}
                            <td>
                                <span class="badge blue">admin</span>
                            </td>
                            {% else %}
                            <td>
                                <span class="badge red"> no admin</span>
                            </td>
                        {% endif %}
                        <td>{{ user.email }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td>{{ user.inscriptionDate|date('d/m/Y') }}</td>
                        <td>
                        N/A
                            <a href=""><i class="material-icons blue-text">edit</i></a>
                            <a href=""><i class="material-icons red-text">delete</i></a>
                        </td>
                    </tr>
                {% set i = i+1 %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
