{% extends "base.html.twig" %}

{% block title %}Accueil | {{ parent() }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
	        <div class="col s12 center user_delete">
                <div class="div_delete_link">
                    <p>{{ app.user.firstname }} {{ app.user.lastname }},<br>
                    êtes-vous sur de vouloir supprimer votre compte ?</p>
                </div>
                <div class="div_delete_link">    
                    <a class="delete_link" href="{{ path('account_delete', {'id' : app.user.id}) }}">Oui</a>
                    <a class="delete_link" href="{{ path('account', {'id': app.user.id}) }}">Non</a>
                </div>    
            </div>
		</div>
{% endblock %}